.App {
  text-align: center;
}

.logo{
  position: absolute;
  top: 10px;
  left: 30px;
}

.outer-paper {
  width: 70%!important;
}

.jss7{
	background-color: transparent!important;
}

.jss15{
 box-shadow: none!important;
}

.jss13{
 box-shadow: none!important;
}

.jss69{
 background-color: #662485!important;
}

.addScreen{
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 19;

}



.newGameForm{
  z-index: 20;
  position: fixed;
  top: 0;
  height: 175px;
width: 300px;
padding: 30px;
bottom: 0;
top: 0;
left: 0;
right:0;
margin: auto;
background-color: white;
}

.join-game {
 
  padding-top: 20px;
}
.game-title{
  text-align: center;
  color: white;
  padding-top: 30px;
}

.question{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color:#1b374f;
  font-size: 14px;
  width: 75%;
  margin:auto;
}

.middle{
  display: flex;
  justify-content: center;
}

.answer{
  margin-top: 30px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.questions{
  text-align: center;
  color: white;
}

.feedback{
  text-align: center;
  color: white;
  width: 75%;
  margin: auto;
}

.score-board-a{
  color: white;
  font-size: 11px;
  float: left;
  margin: auto;
}

.score-board-b{
  color: white;
  font-size: 11px;
  float: right;
  margin: auto;
}

.finished{
  text-align: center;
  color: white;
}

.MuiButton-raisedPrimary-69 {
  background-color: #662485!important;
}

.MuiButton-sizeSmall-74 {
  float: right;
}

.game-shout{
  text-align: center;
  color: white;
}

.btn-right{
  float: right;
}

.login-form, .signup-form{
  margin-top: -90px;
  color: white;
}

.login-form label, .signup-form label{
 padding-top: 5px; 
}

.login-form input, .signup-form input{
  width: 100%;
  float: right;
  padding: 3px; 
  margin-bottom: 9px;
 }

.login-form form, .signup-form form{
  margin: 15px 0px; 
 }

.MuiAppBar-colorPrimary-7 {
  color: #fff;
  background-color: transparent!important;
}

.MuiPaper-elevation4-15 {
  box-shadow: none!important;
}

.MuiPaper-elevation2-13 {
  box-shadow: none!important;
}

.outer-paper {
  background-color: transparent!important;
}

.game-card {
  background-color: #f6f6f6!important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 2.1s infinite linear;
  animation: load8 2.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
